.appTitle {
    text-align: center;
    padding: 50px;
    margin: 10px;
    border: 5px solid green;
}

.body {
    text-align: center;
    padding: 50px;
    margin: 10px;
    border: 5px solid red;
}

.sideBar {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 5px solid blue;
}

.sidebarButton {
    width: 200px;
    margin: 5px;
}

.roundsButtonHeight {
    height: 60px;
}

.randomSpeed {
    width: 100px;
    text-align: center;
    font-size: 20px;
    margin: 20px
}

.speedButton {
    width: 100px;
    text-align: center;
    font-size: 20px
}

.container {
    padding: 10px;
}

.rowTitleWidth {
    width: 150px;
}

.RowStartButtonDims {
    margin-top: 50px;
    height: 85px;
}
.RowContentWidth {
    width: 350px;
}

.formBorder {
    width: 50px;
}

.formRowHeight {
    height: 100px;
}

.rowPresentation {
    margin-left: 30px;
    margin-right: 30px;
    width: 150px;
}

